.card-content {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

@media screen and (min-width: 600px) {
    .card-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .card-content {
        grid-template-columns: repeat(1, 1fr);
    }

}

.dashboard-btn {
    text-decoration: none;
    padding: 7px 40px;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.3s;
}

.dashboard-btn.active {
    background-color: rgb(1, 134, 92);
    color: white !important;
}

.dashboard-btn:hover {
    background-color: white;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
    transition: background-color 0.5s;

}